body {
  margin: 0;
  font-family:fantasy;
  background-color: #ffffff;
}

h1 {
   color:rgb(35, 39, 29);
   text-decoration-skip: initial;
   text-shadow:  #530a63;
   text-emphasis-position: initial;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.introduccion{
  background: linear-gradient(135deg, #3d0749, #ffb0fe);
}

.introduccion h1 {
  color: #e9b1f6;
}

.Menu {
  background-color: #bebff8;
  width: 100%;
  margin: 5px;
  padding: 0.5%;
  border-radius: 5px;
}

header {
  background: linear-gradient(135deg, #da1f1f, #f9ff7f);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 40px;
}

main {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
}

.panel {
  background: rgb(170, 164, 168);
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 25px;
  box-shadow: 0 0 25px rgba(0,0,0,0.15);
}

h2 {
  color: #530a63;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, select, button {
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
}

button {
  background-color: #611bd9;
  text-shadow: #b3261e;
  color: rgb(182, 240, 141);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #343638;
  transform: scale(1.05);

}

#mensaje {
  text-align: center;
  font-weight: bold;
}

.ok { color: green; }
.error { color: red; }

.acciones {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.sin-resultados {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #555;
}

.galeria {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.tarjeta {
  width: 230px;
  background: #8aa3c4;
  border-radius: 2px;
  padding: 20px;
  text-align: center;
  border-top: 5px solid #351443;
  box-shadow: 1 1 10px rgba(243, 157, 157, 0.15);
}

.introduccion {
    transition: 0.3s;
    font-family: sans-serif;
   box-shadow: 0 0 5px rgb(86, 84, 84);
   padding: 25px;
   border-radius: 20px;
   max-width: 100%;
   margin: 10px;
}




.introduccion img {
    width: 100%;
    height: 200px;
    object-fit: containt;
    max-width: 100%;
    object-fit: cover;
    border-radius: 15px;
}



.activo {
  color: rgb(7, 78, 7);
  text-shadow: greenyellow;
  font-weight: bold;
}

.no-activo {
  color: rgb(215, 19, 19);
  font-weight: bold;
}

.eliminar {
  margin-top: 10px;
  background-color: #b3261e;
  color: white;
}

@media (max-width: 768px) {
  .acciones { flex-direction: column; }
  .tarjeta { width: 90%; }
}
